<div class="container">
  <table>
    <thead>
    <tr>
      <th>Id:</th>
      <th>Umup:</th>
      <th>Opis:</th>
      <th>Poprawnych ładowań:</th>
      <th>Niepoprawnych ładowań:</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="navigateToDetails(cart.id)" *ngFor="let cart of carts">
      <td>{{cart.id}}</td>
      <td>{{cart.umupNumber}}</td>
      <td>{{cart.description}}</td>
      <td>{{cart.correctChargings}}</td>
      <td>{{cart.failedChargings}}</td>
    </tr>
    </tbody>
  </table>

</div>
