<table>
  <thead>
  <tr>
    <th>Błąd</th>
    <th>Pozycja</th>
    <th>Wózek</th>
    <th>Prąd</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let charger of chargers" [ngClass]="{chargingInProgress: charger.charging}">
    <td>
      <fa-icon *ngIf="!charger.error" [icon]="okIcon" size="2x" style="color: var(--success)"/>
      <fa-icon *ngIf="charger.error" [icon]="errorIcon" size="2x" style="color: var(--danger)"/>
    </td>
    <td>{{charger.position}}</td>
    <td>{{charger.currentCart}}</td>
    <td>{{charger.current}}</td>
  </tr>
  </tbody>
</table>
