<div class="nav-container">
  <div class="content">
    <div class="dropdown">
      <button class="dropbtn" color="primary" mat-raised-button>Home</button>
      <div class="dropdown-content">
        <a [routerLink]="['/']">Strona główna</a>
        <a [routerLink]="['/login']">Logowanie</a>
        <a [routerLink]="['/registration']">Rejestracja</a>
        <a [routerLink]="['/verification-token']">Aktywacja konta</a>
        <a [routerLink]="['/users']">Zarządzaj użytkownikami</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" color="primary" mat-raised-button>Systemy</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>


    <div class="dropdown">
      <button class="dropbtn" color="primary" mat-raised-button>Wózki</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <hr>
</div>
