<div class="container">
  <form (ngSubmit)="submitForm()" [formGroup]="registrationForm">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input formControlName="username" matInput type="text">
      <mat-error>{{ValidationMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text">
      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">{{ValidationMessages.required}}</mat-error>
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">{{ValidationMessages.email}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input formControlName="password" matInput type="password">
      <mat-error>{{ValidationMessages.required}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Powtórz hasło</mat-label>
      <input formControlName="passwordConfirmation" matInput type="password">
      <mat-error>{{ValidationMessages.required}}</mat-error>
    </mat-form-field>

    <span *ngIf="!passwordEquality" class="password-equality-statement">Hasła nie są identyczne</span>

    <button color="primary" mat-raised-button>Rejestracja</button>
  </form>
</div>
