.container {
  width: 100%;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.button-container button {
  width: 10rem;
}
