<table>
  <thead>
  <tr>
    <th>Data:</th>
    <th>Typ:</th>
    <th>System:</th>
    <th>Prostownik:</th>
    <th>Komentarz:</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="navigateToDetails(alarm.id)" *ngFor="let alarm of alarms" [ngClass]="{notConfirmed: !alarm.confirmed}">
    <td>{{alarm.createdAt | customDate}}</td>
    <td>{{alarm.alarmType | alarmType}}</td>
    <td>{{alarm.chargingSystemName}}</td>
    <td>{{alarm.chargerPosition}}</td>
    <td>{{ alarm.description || "" }}</td>
  </tr>

  </tbody>
</table>
