.charging-system-info-container {
  padding: 1rem;
}

header {
  text-align: center;
  font-size: larger;
  font-style: italic;
}

.connection-error{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: red;
  margin-bottom: 1rem;
  flex-direction: column;
}
