@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --backgroundColor: var(--light);
  --color: var(--dark);
  --primary: #3f51b5;
  --secondary: #6C757D;
  --success: #28A745;
  --danger: #f44336;
  --info: #17A2B8;
  --light: #F8F9FA;
  --dark: #343A40;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/Lato-Regular.ttf');
}

body {
  color: var(--color, white);
  margin: 0;
  padding: 1rem;
  font-family: Lato, sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.warning-container {
  margin-top: 10rem;
  display: flex;
  border: .2rem solid var(--danger);
  border-radius: 1rem;
  padding: 5rem;
  font-size: xx-large;
  color: var(--danger);
  width: 50%;
  justify-content: center;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  margin: 0;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--color);
  color: var(--backgroundColor)
}

.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
}

button {
  margin: 1rem 0 !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  margin-top: 2rem;
  border-collapse: collapse;
}

td {
  text-align: center;
}

table {
  margin-top: 2rem;
  border-collapse: collapse;
}

td {
  text-align: center;
}

table, th, td {
  border: 1px solid transparent;
}

th, tr:not(:last-child) td {
  border-bottom: 1px solid;
}

th, td {
  padding: .7rem;
}

th:not(:last-child), td:not(:last-child) {
  border-right: 1px solid;
}

tbody > tr:hover {
  background-color: var(--primary);
  color: var(--backgroundColor);
  cursor: pointer;
}

mat-tab-group mat-card {
  padding: 1rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-row:hover {
  color: var(--primary)
}

mat-card {
  width: 40%;
  box-shadow: -11px 3px 24px 0 rgba(66, 68, 90, 1) !important;
  margin-bottom: 2rem;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.dialog-container {
  padding: 1rem;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
